USE [CentroPokemon]
GO
/****** Object:  Table [dbo].[PokemonAlojados]    Script Date: 20/6/2022 00:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokemonAlojados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPokemon] [int] NULL,
	[Nombre] [nchar](50) NULL,
	[Tipo] [nchar](50) NULL,
	[AtaquePrincipal] [nchar](50) NULL,
	[Danio] [nchar](10) NULL
) ON [PRIMARY]

INSERT INTO PokemonAlojados VALUES
(25, 'Pikachu', 'Eléctrico', 'Impactrueno', 95),
(26, 'Raychu', 'Eléctrico', 'Embestida', 33)
GO


